<h1>Realizar Login</h1>

<form action="/logar/{{id}}" method="post">
  <p>Nome do Usuário: </p>
  <input type="text" name="nomeEspaco" VALUE="{{nome_espaco}}">
  <p>Senha: </p>
 <!-- <textarea name="capacidadeEspaco" rows="8" cols="40" VALUE="{{capacidade}}"></textarea> !-->
  <input type="text" size="2" name="capacidadeEspaco" VALUE="{{capacidade}}"><br><br>
  <button type="submit">Efetuar Login</button>
</form>