<!-- 
<form action="">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>

<form action="/umarotaqualquer" method="GET">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>
-->
<form action="/addprofessor" method="POST">
    <p>Nome do Professor: </p>
    <input type="text" name="nome">
    <p>CPF: </p>
     <input type="text" name="cpf">
    <p>Email: </p>
     <input type="text" name="email">
    <p>Senha: </p>
     <input type="text" name="senha">

    <p></p>

    <button type="submit">Cadastrar Professor</button>
</form>