<!-- 
<form action="">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>

<form action="/umarotaqualquer" method="GET">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>
-->
<form action="/addreserva" method="POST">
    <p>Nome do Espaço: </p>
    <input type="text" name="espaco">
    <p>Capacidade: </p>
    <textarea name="capacidade"></textarea>
    <button type="submit">Cadastrar Espaço</button>
</form>