<!-- 
<form action="">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>

<form action="/umarotaqualquer" method="GET">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>
-->
<form action="/addaula/" method="POST">
    <p>Nome da Aula: </p>
    <input type="text" name="nome">
    <p>URL da Aula: </p>
     <input type="text" name="url">
    <p>Id do Professor: </p>
     <input type="text" name="idProf" value="{}">
    <p></p>

    <button type="submit">Cadastrar Aula</button>
</form>