<!-- 
<form action="">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>

<form action="/umarotaqualquer" method="GET">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>
-->
<form action="/add" method="POST">
    <p>Reserva: </p>
    <input type="text" name="titulo">
    <p>Reserva2: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar Reserva</button>
</form>