<!-- 
<form action="">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>

<form action="/umarotaqualquer" method="GET">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>
-->
<form action="/addusuario" method="POST">
    <p>Nome do Usuario: </p>
    <input type="text" name="nome">
    <p>CPF: </p>
     <input type="text" name="cpf">
    <p>Email: </p>
     <input type="text" name="email">
    <p>Senha: </p>
     <input type="password" name="senha">
    <p></p>
    <input type="radio" name="perfil" value="Professor" checked /> Professor<br />
    <input type="radio" name="perfil" value="Aluno"/> Aluno<br />

    <p></p>

    <button type="submit">Criar Usuario</button>
</form>