<h1>Alterar Espaco </h1>

<form action="/editado3/{{id}}" method="post">
  <p>Título: </p>
  <input type="text" name="nomeEspaco" VALUE="{{nome_espaco}}">
  <p>Conteúdo: </p>
 <!-- <textarea name="capacidadeEspaco" rows="8" cols="40" VALUE="{{capacidade}}"></textarea> !-->
  <input type="text" name="capacidadeEspaco" VALUE="{{capacidade}}">
  <button type="submit">Editar Postagem</button>
</form>