<h1>Alterar Espaco 3</h1>

<form action="/editado3/{{id}}" method="post">
  <p>Nome do Espaço: </p>
  <input type="text" name="nomeEspaco" VALUE="{{nome_espaco}}">
  <p>Capacidade: </p>
 <!-- <textarea name="capacidadeEspaco" rows="8" cols="40" VALUE="{{capacidade}}"></textarea> !-->
  <input type="text" size="2" name="capacidadeEspaco" VALUE="{{capacidade}}"><br><br>
  <button type="submit">Alterar espaço</button>
</form>